@import "../../responsive.scss";
.searchPackages {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  width: 100%;
  max-width: $maxWidth;
  background-color: #cbc3e3;
  margin: 30px auto 0 auto;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  div {
    .row {
      align-items: start;
      flex-direction: column;
      display: flex;
      width: 100%;
      gap: 12px;
      .placesContainer {
        display: flex;
        gap: 10px;
        p {
          padding: 5px;
          margin: 10px 10px 0 0;
          border: 1px solid gray;
          span {
            cursor: pointer;
            margin-left: 10px;
          }
        }
      }
    }
  }
  button {
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin: 30px auto 0 auto;
    max-height: 45px;
  }
}
