@import "../../responsive.scss";
.searchPackages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #cbc3e3;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  div {
    display: flex;
    gap: 10px;
    width: 100%;
    color: black;
    .col-left {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      // background-color: red;
      label {
        font-size: large;
        margin: 0;
        padding: 0;
        // height: 40px;
      }
      label[for="destination"] {
        height: 120px;
      }
    }
    .col-right {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      .row {
        align-items: start;
        flex-direction: column;
        display: flex;
        width: 100%;
        gap: 12px;
        .placesContainer {
          display: flex;
          gap: 20px;
          p {
            padding: 5px;
            margin: 0;
            border: 1px solid gray;

            display: flex;
            align-items: center;
            gap: 1px;
          }
        }
      }
    }
  }
  button {
    font-size: large;
    cursor: pointer;
    align-self: stretch;
    margin-top: 30px;
    color: white;
    // padding: 6px 15px;
    // background: rgb(2, 0, 36);
  }
}
