@import "../../responsive.scss";

.card.adminAllPackage {
  width: 100%;
  margin: 20px auto 0 auto;
  max-width: $maxWidth;
  h2 {
    width: 100%;
    font-size: 35px;
    margin: 0 0 50px 0;
    color: white;
  }
  .blockOfOffers {
    width: 100%;
    max-width: $maxWidth;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      background-color: rgb(238, 235, 229);
      p {
        font-weight: bold;
        font-size: large;
      }
      a {
        img {
          width: 300px;
          height: 300px;
          object-fit: cover;
          @include sm {
            align-self: center;
          }
          @include md {
            align-self: center;
          }
        }
      }
      p {
        padding-left: 25px;
        width: 100%;
        box-sizing: border-box;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }
      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: green;
          &.delete {
            background-color: rgb(134, 6, 6);
          }
        }
      }
      transition: all 0.3s;
      -webkit-box-shadow: 10px 10px 25px -11px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 25px -11px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 25px -11px rgba(0, 0, 0, 0.75);
    }
  }
}
