@import "../../responsive.scss";
.aboutContainer {
  width: 100%;
  max-width: $maxWidth;
  margin: auto;
  margin: 100px auto;
  background: url(contactPageImage.svg) center center/cover no-repeat fixed;

  h1 {
    color: black;
  }
  div.float {
    img {
      width: 40%;
      object-fit: cover;
      float: left;
      margin: 30px;
      border: 1px solid blue;
    }
    p {
      // background-color: #cbc3e3;
      padding: 30px;
      margin: 0;
      font-size: 20px;
      line-height: 40px;
    }
  }
}
