@import "../../responsive.scss";
.aboutContainer {
  width: 100%;
  max-width: $maxWidth;

  margin: auto;
  margin: 100px auto;
  p {
    padding: 40px;
    font-size: 20px;
    background-color: rgba(140, 160, 160, 0.253);
    line-height: 40px;
  }
}
