@import "../../../../responsive.scss";

.adminCustomerBookingContainer {
  h2 {
  }
  div {
    h3 {
    }
    div.adminCustomerBookingTable {
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        tr {
          td.actionsImages {
            display: flex;
            gap: 8px;
            
            img{
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
          th,
          td {
            text-align: left;
            padding: 8px;
          }
          &:nth-child(even) {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
