@mixin vsm {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin gtmd {
  @media (min-width: 1025px) {
    @content;
  }
}
$redColor: #d51e0b;
$linkColor: #e7e7e7;
$linkHoverColor: #ffffff;
$grayTextColor: rgb(63, 63, 63);
$maxWidth: 1280px;
$loginColor: rgb(43, 165, 165);
$navBarHeight: 60px;
$navBar1stRowHeight: 30px;
$adminSidebarBaseWidth: 80px;
$adminSidebarFinalWidth: 280px;
$adminSidebarBackGroundColor: #36445e;
$adminNavbarHeight: 70px;
// width: 370px;
// height: 440px;

@keyframes myAnim {
  0% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

/**Not important **/

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.shake-left {
  animation: shake-left 2s linear 0s infinite normal none;
}
.entrance1s {
  animation: entrance 1s ease 0s 1 normal forwards;
}

.rise-shake {
  animation: rise-shake 3s ease infinite;
}

@keyframes entrance {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
@keyframes shake-left {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }

  10% {
    transform: rotate(1deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-2deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(2deg);
  }

  80% {
    transform: rotate(-1deg);
  }

  90% {
    transform: rotate(1deg);
  }
}

@keyframes rise-shake {
  0% {
    transform: translateX(0) rotate(0);
  }
  35% {
    transform: translateY(0) rotate(0);
  }
  85% {
    transform: translateY(0) rotate(0);
  }
  89% {
    transform: translateY(-2px) rotate(-17deg);
  }
  93% {
    transform: translateY(-3px) rotate(17deg);
  }
  98% {
    transform: translateY(-4px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

/* Select syle */

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  width: 100%;
  border: 1px solid #777;
  border-radius: 0.25em;
  box-sizing: border-box;
  padding: 0.15em 0.3em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select select,
.select::after {
  grid-area: select;
  // background-color: red;
  padding-left: 7px;
  box-sizing: border-box;
}
.select:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: #777;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #00f;
  border-radius: inherit;
  box-sizing: border-box;
}
select[multiple] {
  padding-right: 0;
  /*
     * Safari will not reveal an option
     * unless the select height has room to 
     * show all of it
     * Firefox and Chrome allow showing 
     * a partial option
     */
  // height: 6rem;
  /* 
     * Experimental - styling of selected options
     * in the multiselect
     * Not supported crossbrowser
     */
}
select[multiple] option {
  white-space: normal;
  outline-color: #00f;
}
.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}
label {
  font-size: 1.125rem;
  font-weight: 500;
}
.select + label {
  margin-top: 0rem;
}
