@import "../../responsive.scss";
.adminPackageAdd {
  width: 100%;
  h2 {
    padding: 0 0 5px 0px;
    margin-top: 0;
    width: 100%;
    border-bottom: 2px solid white;
    color: white;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 0 5px 0 5px;
    max-width: $maxWidth;
    margin: auto;
    box-sizing: border-box;
    .row {
      align-items: start;
      flex-direction: column;
      display: flex;
      width: 100%;
      gap: 12px;
      input {
        height: 30px;
        width: 100%;
      }
      textarea {
        height: 150px;
        width: 100%;
        resize: vertical;

        &:focus {
          outline: none;
        }
      }
      &.full {
        max-width: 300px;
      }
    }
    .adminpaneladdButton {
      padding: 15px 20px;
      font-size: 20px;
      background-color: white;
      max-width: 150px;
      cursor: pointer;
      font-weight: bold;
    }
  }
  input,
  textarea {
    font-size: 18px;
    padding: 0 5px;
    box-sizing: border-box;
    background-color: #191c24;
    color: white;
    &:focus {
      outline: none;
    }
  }
  input[type="text"],
  input[type="number"],
  textarea {
    border: 1px solid white;
  }
  textarea {
    padding: 5px;
  }
  label {
    font-size: 18px;
    color: white;
  }
  h5 {
    font-size: 20px;
  }
}
