@import "../../responsive.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: calc((100% / 2) - 20px);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  span {
    font-size: small;
    color: rgb(58, 58, 58);
  }
  button {
    margin-top: 15px;
    padding: 5px 0 5px 0;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    border-bottom: 2px solid black;
    background-color: transparent;
  }
  @include sm {
    max-width: 100%;
    img {
      width: 70%;
      align-self: center;
    }
  }
}
