@import "../../responsive.scss";
.adminPackageSetup {
  .allDestination {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    // background-color: rebeccapurple;
    div.places {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      border: 1px solid gray;
      padding: 5px 0 5px 0;

      div.item {
        border: 1px solid gray;
        padding: 4px;
        border-radius: 10px;
      }
      padding: 5px;
    }
    &.no-destinations {
      display: block;
    }
  }
  .adminPackage {
    width: 100%;

    .hider {
      display: flex;

      align-items: center;
      cursor: pointer;
      img {
        transition: all 0.2s linear;
        margin-left: 20px;
        width: 22px;
        height: 22px;
      }
    }
    .collapse {
      display: none;
      .row {
        width: 100%;
        margin-bottom: 15px;
        select {
          font-size: 18px;
        }
        input {
          height: 30px;
          width: 100%;
          font-size: 18px;
          padding: 0 5px;
          box-sizing: border-box;
          color: black;
          background-color: rgba(255, 255, 255);
          &:focus {
            outline: none;
          }
          border: 1px solid gray;
        }
      }
    }
    &.open {
      .hider {
        img {
          transform: rotate(90deg);
        }
      }
      .collapse {
        display: initial;
      }
    }
  }
}
