@import "../../responsive.scss";

.sidebarwrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  flex-direction: column;
  a {
    color: white;
    padding: 5px 0;
    font-size: large;
    box-sizing: border-box;
    &:hover {
      color: black;
    }
  }
  @include sm {
    padding: 20px 2px 20px 2px;
    font-size: 13px;
  }
}
