@import "../../responsive.scss";
.adminPackageUpdate {
  // position: static;
  padding-bottom: 60px;
  width: 100%;
  h2 {
    margin-top: 0;
    padding: 0 0 5px 0px;
    width: 100%;
    color: white;
    border-bottom: 2px solid white;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 0 5px 0 5px;
    max-width: $maxWidth;
    margin: auto;
    box-sizing: border-box;
    .row {
      align-items: start;
      flex-direction: column;
      display: flex;
      width: 100%;
      gap: 12px;
      input {
        height: 30px;
        width: 100%;
      }

      textarea {
        height: 150px;
        width: 100%;
        resize: vertical;
        color: white;

        &:focus {
          outline: none;
        }
      }
      input,
      textarea {
        font-size: 18px;
        padding: 0 5px;
        box-sizing: border-box;
        background-color: #191c24;
        color: white;
        &:focus {
          outline: none;
        }
      }
      input[type="text"],
      input[type="number"],
      textarea {
        border: 1px solid white;
      }
      textarea {
        padding: 5px;
      }
      label {
        font-size: 18px;
        color: white;
      }
    }
    .updateCancel {
      width: 100%;
      display: flex;
      justify-content: space-around;

      button {
        padding: 5px 20px;
        font-size: 20px;
      }
    }
    &.full {
      max-width: 300px;
    }
  }
  input,
  textarea {
    font-size: 18px;
    padding: 0 5px;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  textarea {
    padding: 5px;
  }
  label {
    font-size: 18px;
  }
  h5 {
    font-size: 20px;
  }
}
