@import "../../responsive.scss";

.heroBanner {
  width: 100%;
  background-color: rgb(19, 101, 139);
  position: relative;
  .heroBannerImg {
    height: 500px;
    width: 100%;
    object-fit: cover;
    // @include md {
    //   height: 800px;
    // }
  }
}
nav {
  position: fixed;
  top: 0;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  width: 100%;
  z-index: 10;
  height: $navBarHeight;
  // background-color: chocolate;
  background-color: black;
  transition: all 0.5s linear;
  .logoAndMenues {
    width: 100%;
    margin: 0 auto 0 auto;
    max-width: $maxWidth;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: blue;
    .logoWrapper {
      // background-color: red;
      display: flex;
      align-items: center;
      gap: 20px;
      .navIcon {
        // background-color: green;
        a {
          img {
            height: 30px;
            width: 50px;
            height: 50px;
          }
        }
      }
      .navCompanyName {
        // background-color: purple;
        a {
          span {
            font-size: 30px;
            color: white;
          }
        }
      }
    }

    .menues {
      display: flex;
      gap: 40px;
      // background-color: green;
      transition: all 0.5s linear;
      a {
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        color: rgb(255, 254, 254);
        &:hover {
          color: white;
        }
      }

      @include lg {
        gap: 15px;
      }
      @include md {
        position: absolute;
        right: 100%;
        &.open {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: $maxWidth;
          top: $navBarHeight;
          left: 0;
          z-index: 9;
          background-color: black;
          a {
            color: white;
            padding: 5px 0;
            transition: all 0.5s linear;
            &:hover {
              background-color: rgb(22, 22, 22);
            }
          }
        }
      }
    }
    .burgerButton {
      display: none;
      img {
        height: 25px;
        width: 25px;
        cursor: pointer;
      }
      @include md {
        display: initial;
      }
    }
  }
  &.hide {
    transform: translate(0px, -$navBarHeight);
  }
}
.heroTextWrapper {
  background-color: purple;
  position: absolute;
  top: 80px;
  left: 5%;
  right: 20px;
  .HeroText {
    position: relative;
    top: 80px;
    left: 0px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 40%;
    max-width: 50%;
    min-width: 400px;
    color: white;

    h1 {
      font-size: 40px;

      margin: 0;
      @include sm {
        font-size: 40px;
      }
    }
    p {
      margin: 0;
      font-size: large;
    }
    button {
      align-self: start;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 9px 18px;
    }
    @include sm {
      display: none;
    }
  }
  @include lg {
    left: 5%;
  }
  @include sm {
    left: 2%;
  }

  .search {
    background-color: cadetblue;
    position: absolute;
    top: 80px;
    right: 0;
    width: 35%;
    max-width: 500px;
    color: white;
    @include sm {
      width: 60%;
      left: 0;
      right: 0;
    }
  }
}
